@font-face {
  font-family: myfont;
  src: url(fonts/myfont.otf);
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: myfont;
  width: 100%;
  height: 100vh;
}
.container{
  margin: 5px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  background-color: rgb(36, 36, 36);
  justify-content: space-between;
  padding: 20px 60px;
}

.container h1{
  cursor: pointer;
}
.container h1 a{
  text-decoration: none;
  color: white;
}
.container ul {
 display: flex; 
 column-gap: 20px;
}

.container ul li{
  list-style: none;
}
.container ul li  a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.container ul li a:hover{
  color: royalblue;
  transition: 0.3s ease;
}
.button {
  /* background-color: royalblue; */
  background-color: white;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover{
  background-color: royalblue;
  color: white;
}
/* .container button{
  cursor: pointer;;
  font-size: 16px;
    padding: 10px  25px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: myfont;
    font-weight: 400;
    text-align: center;
    transition: all 0.2s;
  }

  .container button:hover {
    color: white;
    background-color: royalblue;
    border-color: royalblue;
  } */

/* Hero Section  */
.hero{
  display: flex;
  margin: 5px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  background-color: white;
  height: 90vh;
  /* background-color: gainsboro; */
  background: linear-gradient(274deg, rgba(153,179,215,1) 0%, rgba(207,194,255,1) 100%);
}
.herotext{
  
}
.herotext h4 {
  color: rgb(37, 37, 37);
  font-size: 20px;
}
.herotext h2 {
  color: black;
  font-size: 50px;
}
.herotext h1 {
  font-size: 60px;
  color: black;
}
.herotext p {
  font-size: 20px;
}
.herotext button{
font-size: 22px;
background-color: black;
color: white;
border: none;
padding: 15px 30px;
border-radius: 30px;
}
.herotext button:hover{
  background-color: royalblue;
  transition: 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}
.heroimage{
 cursor: pointer;
}

.heroimage img{
  width: 400px;
border-radius: 20px;
box-shadow: rgb(49, 49, 49) 0px 5px 15px;
}
.heading  {
  margin: 5px 0;
  color: black;
  text-align: center;
  padding: 20px;
}
#servicesheader{
  width: 100%;
}
#servicesheader h1{
  font-size: 40px;
  text-align: center;
  margin: 60px 0;
}
.services {
  display: flex;
  margin: 10px;
  justify-content: center;
  column-gap: 50px;
}
div.picture {
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  overflow: hidden;
}

div.Description {
  text-align: center;
  padding: 10px 20px;
}
#ourprojectsheader{
width: 100%;
margin: 100px 0px;
}
#ourprojectsheader h1{
  font-size: 40px;
  text-align: center;
  margin: 60px 0;
}
.projects{
  display: flex;
  justify-content: center;
  gap: 50px;
}
div.projectimg{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}
footer{
  background-color: rgb(36, 36, 36);
  color: rgb(200, 200, 200);
  height: 30vh;
  display: flex;
  align-items: center;
}
.myfooter{
  display: flex;
  margin: 10px 80px;
  column-gap: 50px;
}
footer h1{
  color: white;
}
.sociallinks p{
  padding: 10px 0px;
}
.getintouch p{
  padding: 10px 0px;
}

.quicklinks{
  width: 300px;
}
.quicklinks ul li{
  padding: 6px 0px;
  list-style: none;
}
.quicklinks ul li a{
  text-decoration: none;
  color: rgb(200, 200, 200);
}
.quicklinks ul li a:hover{
  color: white;
  transition: 0.3s ;
}
.newsletter p{
  padding: 10px 0px;
}
.newsletter input{
  padding: 10px;
  width: 350px;

}
.newsletter button{
  color: white;
  background-color: royalblue;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.newsletter button:hover{
  background-color: rgb(33, 86, 243);
}
.footbar{
  display: flex;
  background-color: rgba(0, 0, 0, 0.896);
  color: white;
  justify-content: center;
  text-align: center;
}
.footbar p{
  text-align: center;
  padding: 30px 0px;

}
.contactusheader h1{
  font-size: 40px;
  text-align: center;
  margin: 60px 0;
}
.contactusform{
  max: width 600px;px; margin:50px auto;
}
.contactusform input{
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}